@use "../abstracts" as *;
.word--crimeclub {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  color: black;

  @media only screen and (max-width: 786px) {
    display: none;
  }
}

.word--crimeclub span,
.word--club span {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;

  
}

.word--club {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 400;
  color: black;
  margin-left: 10px;

  @media only screen and (max-width: 786px) {
    display: none;
  }
}

.logo {
  display: flex;
  justify-content: center;

 

  &__link,
  a & {
    text-decoration: none;
  }
}

.logo-mobile {
  display: none;
  color: $color-black;
  font-family: "Montserrat",sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 2.2rem;
  @media only screen and (max-width: 786px) {
    display: block;
  }
}
