@use "../abstracts" as *;
.preloader {
  background-color: $color-white;
  z-index: 9999999;
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: visibility 0s 0.18s, opacity 0.18s ease;

  &--hidden {
    display: none;
    opacity: 0;
  }

  &__spinner {
    height: 36px;
    width: 36px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -18px 0 0 -18px;
    border-width: 2px;
    border-style: solid;
    border-top-color: transparent;
    border-color: #333;
    border-top-color: transparent;
    border-radius: 100%;
    animation: rotate 0.4s linear infinite;
  }
}
